<p style="color: green"><%= notice %></p>

<% Post.all.each do |post| %>
  <%= render post %>
<% end %>
<div>
  <% if user_signed_in? %>
    <%= link_to "New Post", new_post_path %>
  <%end%>
  <%= link_to "Back to Posts", root_path %>
</div>

